@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
	body{
			font-family:"Lusida Sans Unicode","Lusida Grande",sans-serif;
			color:#666;
			font-size:13px;
			background-image:url(/SWIM-web/ImmaginiNuove/sfondo.gif);
			background-repeat:repeat-x;
			background-color:#004eff;
		}
	#cont{
			margin:20px auto;
			width:960px;
		}

	#header{
			width:960px;
			height:550px;
			position :relative;
			background-image:url(/SWIM-web/ImmaginiNuove/index.png);
		}

	#nav{
			width:960px;
			height: 50px;
			position :relative;
			font-size:27px;
			color:#ffffff;
			background-image:url(/SWIM-web/ImmaginiNuove/barraIndex.gif);
			
		}
	#accesso{
			width:960px;
			height: 30px;
			top:430px;
			position :absolute;
			font-size:27px;
			color:#ffffff;
			text-decoration:none;
			background-color:#004eff;
		}
		
	#accesso ul{
			margin:10px;
		}

	#accesso ul li{
			list-style-type:none;
			float:left;
		}
		
	#accesso a:link,#accesso a:visited{
			display:block;
			font-size:20px;
			color:#ffffff;
			text-decoration:none;
			height:30px;
			padding:10px;
		}
	#accesso a:hover{
			background-image:url(../swim-images/nab-over.png);
			color:#00F;
		}
