<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SWIM-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>accessServlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>accessServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFriendsServlet</display-name>
    <servlet-name>ShowFriendsServlet</servlet-name>
    <servlet-class>navigationServlet.ShowFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFriendsServlet</servlet-name>
    <url-pattern>/ShowFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserProfileServlet</display-name>
    <servlet-name>ShowUserProfileServlet</servlet-name>
    <servlet-class>navigationServlet.ShowUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserProfileServlet</servlet-name>
    <url-pattern>/ShowUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerFriendshipRequestServlet</display-name>
    <servlet-name>AnswerFriendshipRequestServlet</servlet-name>
    <servlet-class>navigationServlet.AnswerFriendshipRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerFriendshipRequestServlet</servlet-name>
    <url-pattern>/AnswerFriendshipRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHelpRequestServlet</display-name>
    <servlet-name>CreateHelpRequestServlet</servlet-name>
    <servlet-class>navigationServlet.CreateHelpRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHelpRequestServlet</servlet-name>
    <url-pattern>/CreateHelpRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerHelpRequestServlet</display-name>
    <servlet-name>AnswerHelpRequestServlet</servlet-name>
    <servlet-class>navigationServlet.AnswerHelpRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerHelpRequestServlet</servlet-name>
    <url-pattern>/AnswerHelpRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAbilityRequestServlet</display-name>
    <servlet-name>CreateAbilityRequestServlet</servlet-name>
    <servlet-class>navigationServlet.CreateAbilityRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAbilityRequestServlet</servlet-name>
    <url-pattern>/CreateAbilityRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAbilityAdminServlet</display-name>
    <servlet-name>AddAbilityAdminServlet</servlet-name>
    <servlet-class>adminServlet.AddAbilityAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAbilityAdminServlet</servlet-name>
    <url-pattern>/AddAbilityAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAbilityRequestServlet</display-name>
    <servlet-name>RemoveAbilityRequestServlet</servlet-name>
    <servlet-class>adminServlet.RemoveAbilityRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAbilityRequestServlet</servlet-name>
    <url-pattern>/RemoveAbilityRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFeedbackServlet</display-name>
    <servlet-name>CreateFeedbackServlet</servlet-name>
    <servlet-class>navigationServlet.CreateFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFeedbackServlet</servlet-name>
    <url-pattern>/CreateFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbilitySetUpServlet</display-name>
    <servlet-name>AbilitySetUpServlet</servlet-name>
    <servlet-class>navigationServlet.AbilitySetUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbilitySetUpServlet</servlet-name>
    <url-pattern>/AbilitySetUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataModificationServlet</display-name>
    <servlet-name>DataModificationServlet</servlet-name>
    <servlet-class>navigationServlet.DataModificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataModificationServlet</servlet-name>
    <url-pattern>/DataModificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSearchResultsServlet</display-name>
    <servlet-name>ShowSearchResultsServlet</servlet-name>
    <servlet-class>navigationServlet.ShowSearchResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSearchResultsServlet</servlet-name>
    <url-pattern>/ShowSearchResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpTerminationServlet</display-name>
    <servlet-name>HelpTerminationServlet</servlet-name>
    <servlet-class>navigationServlet.HelpTerminationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpTerminationServlet</servlet-name>
    <url-pattern>/HelpTerminationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpPageServlet</display-name>
    <servlet-name>HelpPageServlet</servlet-name>
    <servlet-class>navigationServlet.HelpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpPageServlet</servlet-name>
    <url-pattern>/HelpPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFriendsRequestSuggestionsServlet</display-name>
    <servlet-name>ShowFriendsRequestSuggestionsServlet</servlet-name>
    <servlet-class>navigationServlet.ShowFriendsRequestSuggestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFriendsRequestSuggestionsServlet</servlet-name>
    <url-pattern>/ShowFriendsRequestSuggestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpRequestListServlet</display-name>
    <servlet-name>HelpRequestListServlet</servlet-name>
    <servlet-class>navigationServlet.HelpRequestListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpRequestListServlet</servlet-name>
    <url-pattern>/HelpRequestListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>accessServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFriendshipRequestServlet</display-name>
    <servlet-name>CreateFriendshipRequestServlet</servlet-name>
    <servlet-class>navigationServlet.CreateFriendshipRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFriendshipRequestServlet</servlet-name>
    <url-pattern>/CreateFriendshipRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclareAbilityServlet</display-name>
    <servlet-name>DeclareAbilityServlet</servlet-name>
    <servlet-class>navigationServlet.DeclareAbilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclareAbilityServlet</servlet-name>
    <url-pattern>/DeclareAbilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAbilityListServlet</display-name>
    <servlet-name>ShowAbilityListServlet</servlet-name>
    <servlet-class>adminServlet.ShowAbilityListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAbilityListServlet</servlet-name>
    <url-pattern>/ShowAbilityListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAbilityRequestServlet</display-name>
    <servlet-name>ShowAbilityRequestServlet</servlet-name>
    <servlet-class>adminServlet.ShowAbilityRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAbilityRequestServlet</servlet-name>
    <url-pattern>/ShowAbilityRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProfileServlet</display-name>
    <servlet-name>RemoveProfileServlet</servlet-name>
    <servlet-class>accessServlet.RemoveProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProfileServlet</servlet-name>
    <url-pattern>/RemoveProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAbilityServlet</display-name>
    <servlet-name>RemoveAbilityServlet</servlet-name>
    <servlet-class>navigationServlet.RemoveAbilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAbilityServlet</servlet-name>
    <url-pattern>/RemoveAbilityServlet</url-pattern>
  </servlet-mapping>
</web-app>