@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
		body{
			font-family:"Lusida Sans Unicode","Lusida Grande",sans-serif;
			color:#666;
			font-size:14px;
			background-image:url(/SWIM-web/ImmaginiNuove/sfondo.gif);
			background-repeat:repeat-x;
			background-color:#004eff;
		}

		#cont{
			margin:10px auto;
			width:960px;
		}

		#layout{
			float:left;
			width:960px;
			background-color:#ffffff;
		}
		
		.adv{
			color:#F00;
		}
		
		#header{
			width:960px;
			height:184px;
			position:relative;
			background-image:url(/SWIM-web/ImmaginiNuove/header1.png)
		}

		.logo{
			position: absolute;
			top: 30px;
			left: 41px;
		}

		#nav{
			widht:960px;
			height:50px;
			position :relative;
			background-image:url(/SWIM-web/ImmaginiNuove/barralunga.gif);
			background-repeat:repeat-x;
		}
		
		#nav ul{
			margin:0 10px;
		}

		#nav ul li{
			list-style-type:none;
			float:left;
		}
		
		#nav a:link,#nav a:visited{
			display:block;
			font-size:22px;
			color:#00F;
			text-decoration:none;
			height:30px;
			padding:10px;
		}
		#nav a:hover{
			background-image:url(/SWIM-web/ImmaginiNuove/nab-over.png);
			color:#00F;
		}
		#left{
			width:650px;
			float:left;
			margin: 20px;
		}
	
		#right{;
			width:250px;
			float:right;
			margin: 20px 20px 20px 0;
		}

		.search{
			height:350px;
			background-image:url(/SWIM-web/ImmaginiNuove/cerca1.png);
			background-repeat:no-repeat;
			position:relative;
			padding:10px;
		}
		
		.title{
			height:50px;
			background-image:url(/SWIM-web/ImmaginiNuove/intestazione.png);
			background-repeat:no-repeat;
			position:relative;
			padding:10px;
			color:#FFF;
			font-size-adjust:inherit;
		}
